streamlit
streamlit-mic-recorder

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq

faiss-cpu
sentence-transformers

pypdf

groq
python-dotenv

gTTS
